.nav-bar {
    overflow: hidden;
    background-color: rgb(31, 95, 164);
}

.nav-right a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-left {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-left: 0.8rem;
}

.logo img {
    height: 30px;
}

.nav-right a:hover {
    background-color: rgb(51, 117, 188);
}

.nav-right {
    float: right;
}

.nav-right-elem {
    float: left;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

#signup-logout, #login, #user {
    padding: 14.5px 16px;
}

#profile-pic {
    padding: 12.5px 14px;
    padding-left: 5px;
}

.nav-right div:hover {
    background-color: rgb(51, 117, 188);
}

.user-dropdown {
    overflow: hidden;
}

.user-drop-button {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.logo {
    height: 20px;
}

.userpfp {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}