body {
    background-color: rgb(27, 28, 28);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.main-container {
    margin: auto;
    width: 50vw;
}

h1 {
    text-align: center;
    width: inherit;
}

span:hover {
    cursor: pointer;
}

.post-form-container {
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(78, 78, 78);
}

form {
    margin: 0;
}

input[type=text].post-title {
    width: 100%;
    border-radius: 25px;
    border-style: solid;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
    text-decoration: none;
    border-color: rgb(78, 78, 78);
} 

.post-content {
    width: 100%;
    height: 15rem;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(78, 78, 78);
    display: inline-block;
    padding: 15px;
    resize: none;
}

.post_submit {
    cursor: pointer;
}

#post_submit {
    padding: 0.5rem 1rem;
    background-color: #1f6cbe;
    color: white;
    border: none;
    border-radius: 0.8rem;
}

.error-container {
    padding: 0.5rem 0.7rem;
    background-color: pink;
    width: fit-content;
    margin: auto;
    border-radius: 0.5rem;
    /* margin-top: 1rem; */
    font-size: 14px;
}

.error-container:has(p:empty) {
    display: none;
}

.error-container p {
    margin: 0;
    color: red;
    font-weight: bold;
}

/* scheduling posts button */
button {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.post_schedule {
    max-width: fit-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 18px;
    text-align: left;
    width:max-content;
}

.dropdown:hover .dropdown-content {
    display: inline-flex;
    flex-direction: column;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

.schedule-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(27, 28, 28);
    padding: 1rem;
}

.post-form-container.open .schedule-popup {
    display: block;
}

.post-form-container.open .overlay {
    display: initial;
}

h2 {
    margin: 0;
}

#datetime {
    margin: 1rem 0;
}