body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    padding-left: 1rem;
}

.post-btn {
    padding: 5px;
    background-color: rgb(31, 108, 190);
    color: white;
}

.post-container {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.post-wrapper {
    padding: 10px;
}

.post-username {
    font-size: 16px;
    font-weight: bold;
}

.post-title {
    padding-top: 5px;
    font-size: 18px;
    text-decoration: underline;
}

.post-upvotes {
    padding-top: 5px;
}

#onboard-header {
    float: center;
}

#onboard-btns {
    display: inline-block;
}